.content {
  display: flex;
  justify-content: center;
  width: 100%;
  align-content: flex-start;
  background-image: url("./../../assets/placeholder.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 2rem 6rem;
  width: inherit;
  margin: auto;
}
.content-inner {
  height: 100%;
  width: 80%;
  max-width: 80rem;
  padding: 3rem 6rem;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-radius: 8px;
  padding-top: 2rem;
  overflow-y: scroll;
}
.footer {
  font-size: 2rem;
  color: rgba(0, 0, 0, .9);
  text-decoration: none;
  margin-top: 2rem;
  font-weight: bold;
  
  & a {
    text-decoration: none;
    &:hover {
      opacity: 0.5;
    }
    & svg {
      margin-right: 1rem;
    }
  }
}
.home-cloud-sun {
  position: fixed;
  top: 4rem;
  right: 4rem;
  color: rgba(255, 255, 255, 0.8);
  font-size: 5rem;
}

