.awesome-todo-list {
  display: flex;
  flex-direction: column;
  grid-row-gap: 1rem;
  max-height: 50rem;
  overflow: scroll;  
}
h3.todo-list-header {
  font-size: 3rem;
  font-style: italic;
}
.todo-item-container {
  font-size: 2rem;
  box-shadow: 1px 1px 2px #000;
  padding: 1rem 2rem;
  &.todos-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    & .spinner {
      font-size: 6rem;
    }
  }
}
.todos-toolbar {
  display: flex;
  justify-content: center;
  align-content: space-between;  
  & svg {
    font-size: 3rem;
    margin-left: 1rem;
    align-self: center;
  }
}
.todo-number {
  font-weight: 900;
  padding-bottom: 1rem;  
}
.todo-title {
  line-height: 2rem;
  transition: all 0.15s ease;
  &.completed {
    padding-top: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-column-gap: 1rem;
    &:hover {
      font-size: 4rem;
      & .fa-xmark {
        color: green;
      } 
      & .fa-check {
        color: red;
      }
    }    
  }
}
.todos-show-flake {
  position: fixed;
  top: 4rem;
  right: 4rem;
  color: rgba(255, 255, 255, 0.8);
  font-size: 5rem;
}
/*
here todo list hover font size 3rem + icon styles
*/
