.awesome-todo-list {
  display: flex;
  flex-direction: column;
  grid-row-gap: 1rem;
  overflow: scroll;  
  max-height: 60%;
  height: auto;
}
h3.todo-list-header {
  font-size: 3rem;
  font-style: italic;
}
.todo-item-container {
  font-size: 2rem;
  box-shadow: 1px 1px 2px #000;
  padding: 1rem 2rem;
  &.todos-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    & .spinner {
      font-size: 6rem;
    }
  }
}
.todos-toolbar {
  display: flex;
  justify-content: center;
  align-content: space-between;  
  & svg {
    font-size: 3rem;
    margin-left: 1rem;
    align-self: center;
  }
}
.todo-number {
  font-weight: 900;
  padding-bottom: 1rem;  
}
.todo-title {
  line-height: 2rem;
  transition: all 0.15s ease;
  &.completed {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-gap: 2rem;
    font-size: 2rem;
    min-width: 8rem;
    & .fa-xmark {
      min-width: 2rem;
      &:hover {
        color: red;
      }
    } 
    & .fa-check {
      &:hover {
        color: green;
      }
    }
    & button:hover {
      & .fa-xmark {
        color: red;
      } 
      & .fa-circle-check {
        color: green;
      }
    }
    & button[disabled] {
      opacity:0.5;
    }
  }
  &.copy-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    & button {
      font-size: 2rem;
      &[disabled] {
        opacity:0.5;
      }
    }
  }
}
.todos-show-flake {
  position: fixed;
  top: 4rem;
  right: 4rem;
  color: rgba(255, 255, 255, 0.8);
  font-size: 5rem;
  z-index: 10;
}
.todo-list-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: 2rem;
  & .tooltip-container {
    align-self: flex-start;
    & svg {
      transform: all .25s ease;
      font-size: 2rem;
      &:hover {
        color: drop-shadow(0,0, 2rem, #FFFF8A);
        color: #FFFF00;
        opacity: 0.9;
        cursor: pointer;
      }
    }
  }
}