.tools-button {
  transition: all 0.15s ease;
  margin: 1rem 0.5rem;
  padding: 1.5rem;
  font-weight: bold;
  font-size: 2rem;
  &:hover {
    color: #93615a !important;
    cursor: pointer;
  }
  &.pressed-darkmode {
    background-color: #676461;
    filter: drop-shadow(0 0 10rem #000000);
    font-size: 3rem;
  }
}
