/*loading spinner*/
.spinner {
  animation: spin infinite 5s linear;     
  font-size: 6rem; 
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
