.toast-container {
  position: relative;
}
.toast-container-inner {
  transition: all 0.15s ease;
  min-width: 10rem;
  background-color: rgba(147, 97, 90, 0.6);
  color: #000;
  border-radius: 0.25rem;
  filter: drop-shadow(0 0 5rem #93615a);
  padding: 1rem 1.5rem;
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  left: 50%;
  border: 1px solid #93615a;
  z-index: 10;
  border-left-width: 1rem;
  font-size: 1.5rem;
  font-weight: 600;

  & .toas-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-column-gap: 1rem;
    & .fa {
      font-size: 2rem;
      opacity: 0.9;
    }
  }
}
