@import "./../../styles/variables";

.post-item-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.post-item-content-inner {
  align-self: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  grid-column-gap: 2rem;
  font-size: 2rem;
  line-height: 2.4rem;
  height: 100%;
}
.posts-toolbar {
  & .fa-info:hover {
    cursor: pointer;
  }
}
.bookmark-actions {
  display: flex;
  justify-content: flex-start;
  grid-column-gap: 1rem;
  align-items: center;
  color: $color-black-opacity;
  .fa-layers {
    font-size: 3rem;
    & .bookmark-bg {
      color: $color-light-coral-opacity;
    }
  }
  & .toggle-important-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;

    & .important {
      position: absolute;
      top: -.5rem;
      right: .15rem;
      color: $highlight-yellow;
      font-size: 1.5rem;
      box-shadow: .2rem -.2rem $color-light-coral-opacity;
      border-radius: 50%;    
      filter: drop-shadow(0 0 1rem $color-light-coral-opacity);
    }
  }
}

h3.post-list-header {
  text-align: center;
}
