/*colors*/
$footer-color: rgba(0, 0, 0, 0.9);

.footer {
  font-size: 2rem;
  color: $footer-color;
  text-decoration: none;
  margin-top: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & a {
    text-decoration: none;
    color: #15150e;
    &:hover {
      opacity: 0.7;
    }
    & svg {
      margin-right: 1rem;
    }
  }
}
.about-info {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: 1rem;
  font-size: 2rem;
  & span {
    font-weight: 600;
    font-style: italic;
    color: rgba(0, 0, 0, 0.9);
    align-self: flex-end;
  }
  & .tooltip-container {
    width: 2rem;
    text-align: center;
    & svg:hover {
      cursor: pointer;
    }
  }
  padding: 1rem 0 4rem;
}
