@import "./../../styles/variables";

.content {
  display: flex;
  justify-content: center;
  width: 100%;
  align-content: flex-start;
  background-image: url("./../../../assets/placeholder.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 2rem 6rem;
  width: inherit;
  margin: auto;
}
.content-inner {
  height: calc(100vh - 5rem);
  overflow: hidden;
  width: 80%;
  max-width: 80rem;
  padding: 3rem 6rem;
  background-color: $content-inner-bgcolor;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-radius: 8px;
  padding-top: 2rem;
  overflow-y: scroll;
  transition: all 0.15s ease;
}
span.some-test {
  position: fixed;
  right: 4rem;
  bottom: 10rem;
  display: block;
  transform: rotate(-15deg);
  z-index: 999;
  color: $nav-button-color;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  text-decoration: underline;
  font-size: 4rem;
  transition: all 0.15s ease;
  &:hover {
    transform: rotate(15deg);
  }
  cursor: default;
}
.view-icon {
  position: fixed;
  top: 4rem;
  right: 4rem;
  color: $view-icon-color;
  font-size: 5rem;
  z-index: 10;
}

.nav-button {
  position: fixed;
  top: 50%;
  z-index: 99;
  font-size: 4rem;
  color: $nav-button-color;
  &:hover {
    filter: drop-shadow(0, 0, 5rem, $nav-button-color);
    color: $nav-button-color-hover !important;
    cursor: pointer;
  }
  &[disabled]:cursor {
    cursor: not-allowed;
  }
  &.go-prev {
    left: 2rem;
  }
  &.go-next {
    right: 2rem;
  }
}
