@import "@styles/variables";
.todo-input-area {
  & form {
    display: flex;
    flex-direction: column;
    grid-row-gap: 2rem;
    padding: 2rem 0;
    & label {
      font-size: 2rem;
      font-style: italic;
    }
    & input {
      border: 3px dashed $color-light-coral-opacity;
      border-radius: 1rem;
      padding: 0.5rem;
      background: transparent;
      user-select: none;
      font-size: 1.5rem;
      font-family: "Open Sans", sans-serif;
      color: $color-black-opacity;
    }
  }
}
.todo-item-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.todo-item-content-inner {
  align-self: center;
  display: flex;
  justify-content: space-between;
  grid-column-gap: 2rem;
  font-size: 2rem;
  line-height: 2.4rem;
  height: 100%;
}
.todo-number {
  padding-bottom: 0;
}
.todos-toolbar {
  & .fa-info:hover {
    cursor: pointer;
  }
}
