#root {
  width: 100%;  
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #213547;
  overflow: hidden;
}
button {
  &:hover {
    cursor:pointer;
  }
  &[disabled]:hover {
    cursor: not-allowed;
  }
}
